BODY {
	FONT-FAMILY: arial,sans-serif; margin:0px; padding:0px;
}
TD {
	FONT-FAMILY: arial,sans-serif
}
DIV {
	FONT-FAMILY: arial,sans-serif
}
P {
	FONT-FAMILY: arial,sans-serif
}
A {
	FONT-FAMILY: arial,sans-serif
}
FONT {
	FONT-FAMILY: arial,sans-serif
}
SPAN {
	FONT-FAMILY: arial,sans-serif
}
.tablecell {
	FONT-SIZE: 12px
}
.c {
	WIDTH: 4px; HEIGHT: 0px
}
.bubble {
	BACKGROUND-COLOR: #c3d9ff
}
.tl {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 4px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.tr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 4px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
.bl {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: bottom; WIDTH: 4px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.br {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: bottom; WIDTH: 4px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
.caption {
	BACKGROUND: #e8eefa; COLOR: #000000; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
.form-noindent {
	BORDER-RIGHT: #c3d9ff 1px solid; BORDER-TOP: #c3d9ff 1px solid; MARGIN-TOP: 20px; BORDER-LEFT: #c3d9ff 1px solid; BORDER-BOTTOM: #c3d9ff 1px solid; BACKGROUND-COLOR: #ffffff
}
.feature-image {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 15px; TEXT-ALIGN: right
}
.feature-description {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 15px; TEXT-ALIGN: left
}
.signup_btn {
	MARGIN: 10px 0px -20px; CURSOR: pointer; TEXT-ALIGN: center
}
.signup_btn_link {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.box1{border-top:1px solid #B8CFE0; border-bottom:1px solid #B8CFE0; border-left:1px solid #B8CFE0;}
.box2{border-top:1px solid #B8CFE0; border-bottom:1px solid #B8CFE0; border-right:1px solid #B8CFE0;}
.box{border:1px solid #CDD9F4}
.textbox{border:1px solid #91A4CB; height:21px; width:150px; font-size:14px;}
.password{border:1px solid #91A4CB; height:21px; width:150px; font-size:14px;}
.xian{border-top:1px solid #D9D9D9}
.button{ background:url(/images/anbj.png); width:80px; height:25px; border:1px solid #4998F0; color:#ffffff}
